// FOOTER
//------------------------------------------------
//------------------------------------------------
#site-footer {
	font-size: 14px;
	background: $gray-darker;
	padding: 50px 0;
	color: $gray;
	@include bp(medium) {
		padding: 40px 0;
	}
	.navigation {
		@include span-columns(9);
		@include bp(medium) {
			@include span-columns(12);
			margin-bottom: 20px;
		}
		ul {
			margin-bottom: 10px;
			li {
				display: inline-block;
				margin-right: 10px;
			}
		}
		
		p {
			a {
				text-decoration: underline;
			}
		}
	}
	.social {
		text-align: right;
		@include span-columns(3);
		
		@include bp(medium) {
			text-align: left;
			@include span-columns(12);
		}
		ul {
			li {
				display: inline-block;
				margin-right: 10px;
				i {
					font-size: 20px;
				}
			}
		}
	}
	a {
		@include links($gray, $gray, rgba($gray, 0.6), rgba($gray, 0.6), rgba($gray, 0.6), color $base-duration $base-timing);
	}
}