{:organization "47deg"
 :organization-name "47 Degrees"
 :logo {:href "http://47deg.com"
        :src "img/nav-brand.png"}
 :links [{:text "Blog" :href "http://47deg.com/blog"}
         {:text "Talks" :href "http://47deg.com/presentations"}
         {:text "Contact" :href "http://47deg.com/contact"}]
 :social {:twitter "47deg"
          :facebook "47degreesLLC"
          :linkedin "company/47-degrees-llc"}
 :languages #{"Scala" "Clojure" "Java" "Swift"}
 :included-projects #{"macroid"
                      "fetch"
                      "sbt-microsites"
                      "scalacheck-datetime"
                      "scala-exercises"
                      "github4s"
                      "org"
                      "sbt-catalysts-extras"
                      "sbot"
                      "freestyle"
                      "mvessel"
                      "case-classy"
                      "second-bridge"}
 :extra-repos [{:user "scala-exercises" :repo "scala-exercises"}]
 :project-logos {"fetch" "https://rawgit.com/47deg/microsites/cdn//fetch/navbar_brand.png"
                 "mvessel" "https://rawgit.com/47deg/microsites/cdn//mvessel/navbar_brand.png"
                 "github4s" "https://rawgit.com/47deg/microsites/cdn//github4s/navbar_brand.png"
                 "scala-exercises" "img/scala-exercises-dark.png"
                 "scalacheck-datetime" "https://rawgit.com/47deg/microsites/cdn//scalacheck-datetime/navbar_brand.png"}
 :token "0ea220b5c8de1be060c132e24771ed74537821be"
 :analytics "UA-18433785-13"
 :style {:primary-color "#F44336"
         :header {:background "linear-gradient(0deg, rgba(30, 39, 53, 0.88), rgba(30, 39, 53, 0.88)), url(\"img/header-background.jpg\") no-repeat center center"
                  :backgroundSize "cover"}
         :font {:url "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400"
                :base "'Open sans', sans-serif"
                :headings "'Poppins', sans-serif"
                :sizes {:light 300
                        :regular 400
                        :semi-bold 600
                        :bold 700}}}}
