{:organization "47deg"
 :organization-name "47 Degrees"
 :logo {:href "http://47deg.com"
        :src "img/nav-brand.png"}
 :links [{:text "Blog" :href "http://47deg.com/blog"}
         {:text "Talks" :href "http://47deg.com/presentations"}
         {:text "Contact" :href "http://47deg.com/contact"}]
 :social {:twitter "47deg"
          :facebook "47degreesLLC"
          :linkedin "company/47-degrees-llc"}
 :languages #{"Scala" "Clojure" "Java" "Swift"}
 :included-projects #{"macroid"
                      "fetch"
                      "sbt-microsites"
                      "scalacheck-toolbox"
                      "scala-exercises"
                      "github4s"
                      "org"
                      "sbt-catalysts-extras"
                      "sbot"
                      "freestyle"
                      "mvessel"
                      "case-classy"
                      "second-bridge"
                      "nine-cards-v2"
                      "nine-cards-backend"
                      "LambdaTest"
                      "iota"}
 :extra-repos [{:user "scala-exercises" :repo "scala-exercises"}
               {:user "frees-io" :repo "freestyle"}]
 :project-logos {"fetch" "//47deg.github.io/fetch/img/navbar_brand.png"
                 "mvessel" "//47deg.github.io/mvessel/img/navbar_brand.png"
                 "github4s" "//47deg.github.io/github4s/img/navbar_brand.png"
                 "scala-exercises" "img/scala-exercises-dark.png"
                 "scalacheck-toolbox" "//47deg.github.io/scalacheck-toolbox/img/navbar_brand.png"
                 "macroid" "//47deg.github.io/macroid/img/navbar_brand.png"
                 "sbt-microsites" "//47deg.github.io/sbt-microsites/img/navbar_brand.png"
                 "second-bridge" "//47deg.github.io/second-bridge/img/brand_second_bridge.svg"
                 "freestyle" "img/navbar_freestyle.png"
                 "LambdaTest" "//47deg.github.io/LambdaTest/img/navbar_brand.png"
                 "nine-cards-v2" "//47deg.github.io/nine-cards-v2/img/navbar_brand.png"
                 "nine-cards-backend" "//47deg.github.io/nine-cards-v2/img/navbar_brand.png"
                 "case-classy" "//47deg.github.io/case-classy/img/navbar_brand.png"}
 :token "0ea220b5c8de1be060c132e24771ed74537821be"
 :analytics "UA-18433785-13"
 :style {:primary-color "#F44336"
         :header {:background "linear-gradient(0deg, rgba(30, 39, 53, 0.88), rgba(30, 39, 53, 0.88)), url(\"img/header-background.jpg\") no-repeat center center"
                  :backgroundSize "cover"}
         :font {:url "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400"
                :base "'Open sans', sans-serif"
                :headings "'Poppins', sans-serif"
                :sizes {:light 300
                        :regular 400
                        :semi-bold 600
                        :bold 700}}}}
