// BODY
//------------------------------------------------
//------------------------------------------------

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: $base-background-color;
}

.wrapper {
	@include outer-container;
	@include padding(0 20px);
}
