// FORM
//------------------------------------------------
//------------------------------------------------
input {
	width: 100%;
	display: block;
}

input,
select {
	font-family: $base-font-family;
	font-size: $base-font-size;
	appearance: none;
	background: $white;
	border: $base-border;
	border-radius: $base-border-radius;
	//box-shadow: $form-box-shadow;
	box-sizing: border-box;
	padding: 12px 15px;
	transition: border-color $base-duration $base-timing;
	&:hover {
		border-color: shade($base-border-color, 10%);
	}
	&:focus {
		box-shadow: rgba($gray-darker, 0.15) 0 0 6px;
		outline: none;
	}
}

select {
	@include bp(medium) {
		width: 100%;
	}
}