// TYPOGRAPHY
//------------------------------------------------
//------------------------------------------------
body {
	color: $base-font-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	font-weight: $font-regular;
	line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headings-font-family;
	line-height: $headings-line-height;
	font-weight: $font-light;
	margin: 0;
}

h1 {
	font-size: $h1-font-size;
}

h2 {
	font-size: $h2-font-size;
}

p {
	margin: 0;
}

a {
	@include links($base-link-color, $base-link-color, $hover-link-color, $hover-link-color, $hover-link-color, color $base-duration $base-timing);
	text-decoration: none
}

hr {
	border-bottom: $base-border;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	margin: 0;
}