// MIXINS
//------------------------------------------------
//------------------------------------------------
// Link
@mixin links($link: '#7ab4e5', $visited: '#7ab4e5', $hover: '#e62c25', $active: 'lighten($hover, 10%)', $focus: $hover, $transition: '.15s color ease-in-out') {
	&:link {
		color: $link;
	}
	&:visited {
		color: $visited;
	}
	&:hover {
		color: $hover;
	}
	&:active {
		color: $active;
	}
	&:focus {
		color: $focus;
	}
	@include transition($transition);
}

// Breakpoints
@mixin bp($point) {
	@if $point==xlarge {
		@media (max-width: $bp-xlarge) {
			@content;
		}
	}
	@if $point==large {
		@media (max-width: $bp-large) {
			@content;
		}
	}
	@if $point==medium {
		@media (max-width: $bp-medium) {
			@content;
		}
	}
	@if $point==small {
		@media (max-width: $bp-small) {
			@content;
		}
	}
}


// Images
@mixin image-size {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
