// VARIABLES
//------------------------------------------------
//------------------------------------------------

// Color
$brand-primary: #F44336 !default;

// Typography
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400);
$base-font-family: 'Open Sans', sans-serif !default;
$headings-font-family: 'Poppins', sans-serif !default;

$font-light: 300 !default;
$font-regular: 400 !default;
$font-semi-bold: 600 !default;
$font-bold: 700 !default;
